.page,
body {
  background-color: var(--weui-BG-0);
  color: var(--weui-FG-0);
}
body {
  padding: 0;
  margin: 0;
}
.hidden,
.hidden * {
  display: none !important;
  visibility: hidden;
}
*:focus {
  outline: 0;
}

#app {
  display: flex;
}

.book_select {
  width: 400px;
  height: 100vh;
  overflow-y: auto;
}
.book_select .map_ctn {
  position: relative;
  opacity: 0;
}

.book_content {
  width: calc((100vw - 400px) / 2 - 8px);
  height: 100vh;
  margin-left: 8px;
  position: relative;
  overflow-y: auto;
  .fate_mob,
  .fate_boss,
  .fate_defense,
  .fate_protect {
    background-color: rgba(255, 0, 0, 0.15);
  }
  .done {
    background-color: rgba(0, 128, 0, 0.15);
  }
}

.item_quests {
  width: 400px;
}

.book_content,
.item_quests {
  .weui-cell__bd {
    display: flex;
  }
  .weui-cells__title {
    margin-top: 0;
    padding-top: 10px;
  }
  .icon {
    display: block;
    width: 24px;
    height: 24px;
  }
}

.weui-cell {
  padding: 0;
}
.weui-grid {
  width: 20%;
  opacity: 0.5;
  padding: 5px 0;
  &.active {
    opacity: 1;
    background-color: slategrey;
  }
}

.weui-check__label:hover {
  background-color: var(--weui-BG-COLOR-ACTIVE);
}

@media screen and (max-width: 768px) {
  #app {
    display: block;
  }
  .book_select {
    width: 100%;
    height: 30vh;
  }
  .book_content {
    width: 100vw;
    height: 70vh;
    margin-left: 0;
  }
}
