.memberpoint {
	padding-top: 2rem;
	padding-left: 5rem;
	padding-right: 5rem;
}

.memberpoint img {
	width: 4.2rem;
	height: 4.2rem;
	border-radius: 50%;
	position: absolute;
}

.memberpoint .point {
	font-size: 1.8rem;
}

.memberinfo {
	margin-left: 5rem;
    margin-top: 0.2rem;
}

.memberinfo span {
	color: rgb(255, 244, 206);
	text-shadow: 0 0px 1rem rgb(0, 0, 0);
}

.point-history {
	margin: 0 0.8rem;
	clear: both;
}

.point-history span{
	color: rgb(255, 244, 206);
}

.item .history-point {
	float: right;
}