.item {
	text-align: center;
}

.item span {
	color: rgb(255, 244, 206);
	text-shadow: 0 0px 1rem rgb(0, 0, 0);
}

.memberpoint-store {
	margin-top: 1rem;
	margin-left: 0.8rem;
	margin-right: 0.8rem;
}

.coupon {
	margin-top: 1.5rem;
	position: relative;
}

.coupon-item {
	margin-bottom: 0.5rem;
	height: 6rem;
}

.coupon-item img {
	position: absolute;
	width: 100%;
	z-index: -1;
}

.coupon-info .coupon-info-left {
	float: left;
	margin-left: 1.8rem;
	margin-top: 0.7rem;
    text-align: center;
}

.coupon-info .coupon-info-right {
	float: right;
	margin-top: 1.75rem;
	margin-right: 2.4rem;
}

.coupon-info .coupon-type {
	color: #7f4e28;
}

.coupon-info .coupon-price {
	font-size: 1.5rem;
}

.coupon-info .coupon-time {
	color: #7f4e28;
	font-size: 0.7rem;
}

.coupon-info .coupon-point {
	color: #fff4ce;
}

.coupon-bottom-message {
	text-align: center;
}

.coupon-bottom-message span {
	color: rgb(255, 244, 206);
	text-shadow: 0 0px 1rem rgb(0, 0, 0);
	font-size: 0.8rem;
}