<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>FFXIV 古武 黄道文书 & 任务备忘录</title>
  <link rel="stylesheet" href="./vendors/weui.min.css" />
  <link rel="stylesheet" href="./assets/books.css" />
</head>

<body>
  <div id="app">
    <div class="book_select">
      <template v-for="(bookContent, bookName) in state.bookList" :key="bookName">
        <div class="weui-cells weui-cells_radio">
          <label class="weui-cell weui-cell_active weui-check__label" :for="bookName">
            <div class="weui-cell__bd">
              <p>{{ bookName }}</p>
            </div>
            <div class="weui-cell__ft">
              <input type="radio" class="weui-check" name="books" @change="onBookSelectChange" :id="bookName"
                :value="bookName" v-model="state.checkedBook[state.checkedJob]" /><span
                class="weui-icon-checked"></span>
            </div>
          </label>
        </div>
      </template>
      <div class="weui-cells weui-cells_radio">
        <label class="weui-cell weui-cell_active weui-check__label" for="clearBtn">
          <div class="weui-cell__bd">
            <p>{{ state.clearText }}</p>
          </div>
          <div class="weui-cell__ft">
            <input type="radio" class="weui-check" @click="onClearBtnClick" id="clearBtn" value="clear" />
          </div>
        </label>
      </div>
      <div class="item_quests">
        <template v-for="(itemQuest, itemQuestIndex) in state.itemQuests" :key="itemQuestIndex">
          <div class="weui-cells__title">{{ itemQuest.quest }}</div>
          <template v-for="(questContent, questContentIndex) in itemQuest.contents" :key="questContentIndex">
            <div class="weui-cells weui-cells_checkbox">
              <label class="weui-cell weui-check__label" :for="`${state.checkedJob}_${questContent.name}`">
                <div class="weui-cell__bd">
                  <span>{{
                    state.bookOptions.texts[questContent.type](questContent)
                    }}</span>
                </div>
              </label>
            </div>
          </template>
        </template>
      </div>
    </div>
    <div class="book_content">
      <div class="weui-grids">
        <template v-for="(jobImg, jobName) in state.bookOptions.icons.jobs" :key="bookName">
          <div class="weui-grid" :class="{ active: jobName === state.checkedJob }" @click="onJobChange(jobName)">
            <div class="weui-grid__icon">
              <img :src="jobImg" alt="" />
            </div>
          </div>
        </template>
      </div>
      <template v-for="(bookContents, bookContentsIndex) in state.bookList[state.checkedBook[state.checkedJob]]"
        :key="bookContentsIndex">
        <div class="weui-cells__title">{{ bookContents.area }}</div>
        <template v-for="(bookContent, bookContentIndex) in bookContents.contents" :key="bookContentIndex">
          <div class="weui-cells weui-cells_checkbox"
            :class="[bookContent.type, { done: bookContent[state.checkedJob] }]">
            <label class="weui-cell weui-check__label"
              :for="`${state.checkedBook[state.checkedJob]}_${bookContent.name}`">
              <div class="weui-cell__hd">
                <input type="checkbox" class="weui-check" @change="onBookContentChange"
                  :id="`${state.checkedBook[state.checkedJob]}_${bookContent.name}`"
                  v-model="bookContent[state.checkedJob]" /><i class="weui-icon-checked"></i>
              </div>
              <div class="weui-cell__bd">
                <img class="icon" :src="state.bookOptions.icons[bookContent.type]" alt="" />
                <div style="width: 5px"></div>
                <span>{{ state.bookOptions.texts[bookContent.type](bookContent)
                  }}</span>
              </div>
            </label>
          </div>
        </template>
      </template>
    </div>
    <div class="book_content">
      <template v-for="(bookContents, bookContentsIndex) in levequestSummary" :key="bookContentsIndex">
        <div class="weui-cells__title">{{ bookContents.area }}</div>
        <template v-for="(bookContent, bookContentIndex) in bookContents.contents" :key="bookContentIndex">
          <div class="weui-cells weui-cells_checkbox"
            :class="[bookContent.type, { done: bookContent[state.checkedJob] }]">
            <label class="weui-cell weui-check__label" :for="`${bookContent.book}_${bookContent.name}`">
              <div class="weui-cell__hd">
                <input type="checkbox" class="weui-check" @change="onBookContentChange"
                  :id="`${bookContent.book}_${bookContent.name}`" v-model="bookContent[state.checkedJob]" /><i
                  class="weui-icon-checked"></i>
              </div>
              <div class="weui-cell__bd">
                <img class="icon" :src="state.bookOptions.icons[bookContent.type]" alt="" />
                <div style="width: 5px"></div>
                <span>{{ state.bookOptions.texts[bookContent.type](bookContent)
                  }}</span>
              </div>
            </label>
          </div>
        </template>
      </template>
    </div>
  </div>
</body>
<script src="./vendors/vue.global.prod.js"></script>
<script src="./vendors/weui.min.js"></script>
<script src="./assets/books.data.js"></script>
<script>
  const { createApp, reactive, onMounted, computed } = Vue;
  createApp({
    setup() {
      const state = reactive({
        bookOptions: {
          icons: {
            mob: "./assets/img/060004_hr1.png",
            fate_mob: "./assets/img/060501_hr1.png",
            fate_boss: "./assets/img/060502_hr1.png",
            fate_defense: "./assets/img/060504_hr1.png",
            fate_protect: "./assets/img/060505_hr1.png",
            levequest: "./assets/img/061422_hr1.png",
            dungeon: "./assets/img/061801_hr1.png",
            jobs: {
              PLD: "./assets/img/jobs/PLD.png",
              WAR: "./assets/img/jobs/WAR.png",
              WHM: "./assets/img/jobs/WHM.png",
              SCH: "./assets/img/jobs/SCH.png",
              MNK: "./assets/img/jobs/MNK.png",
              DRG: "./assets/img/jobs/DRG.png",
              NIN: "./assets/img/jobs/NIN.png",
              BRD: "./assets/img/jobs/BRD.png",
              BLM: "./assets/img/jobs/BLM.png",
              SMN: "./assets/img/jobs/SMN.png",
            },
          },
          texts: {
            mob: (c) => `${c.name} (${c.pos})`,
            fate_mob: (c) => `${c.name} (X:${c.x}, Y:${c.y})`,
            fate_boss: (c) => `${c.name} (X:${c.x}, Y:${c.y})`,
            fate_defense: (c) => `${c.name} (X:${c.x}, Y:${c.y})`,
            fate_protect: (c) => `${c.name} (X:${c.x}, Y:${c.y})`,
            levequest: (c) => `${c.name}${c?.desc || ""}`,
            dungeon: (c) => `${c.name}`,
          },
        },
        bookList,
        checkedBook: {
          PLD: "火天文书·第一卷",
        },
        itemQuests,
        isToClear: false,
        clearText: "清空全部数据",
        checkedJob: "PLD",
      });
      const onJobChange = (jobName) => {
        state.checkedJob = jobName;
        state.checkedBook[state.checkedJob] =
          state.checkedBook[state.checkedJob] || "火天文书·第一卷";
        saveLocalState();
      };
      const onBookSelectChange = () => {
        saveLocalState();
      };
      const onBookContentChange = () => {
        saveLocalState();
      };
      const levequestSummary = computed(() => {
        const books = [
          { area: "北萨纳兰", contents: [] },
          { area: "库尔札斯中央高地", contents: [] },
          { area: "摩杜纳", contents: [] },
        ];
        for (const book of Object.keys(state.bookList)) {
          for (const bookContent of state.bookList[book]) {
            for (const content of bookContent.contents) {
              if (content.type === "levequest") {
                for (const b of books) {
                  if (b.area === bookContent.area) {
                    b.contents.push({ ...content, book });
                  }
                }
              }
            }
          }
        }
        return books;
      });
      const saveLocalState = () => {
        localStorage.setItem(
          "ffxiv-books-state",
          JSON.stringify({
            bookList: state.bookList,
            checkedBook: state.checkedBook,
            checkedJob: state.checkedJob,
          })
        );
      };
      const loadLocalState = () => {
        if (localStorage.getItem("ffxiv-books-state") != null) {
          const localState = JSON.parse(
            localStorage.getItem("ffxiv-books-state")
          );
          state.bookList = localState.bookList;
          state.checkedBook = localState.checkedBook;
          state.checkedJob = localState.checkedJob;
        }
      };
      let stateClearInterval = null;
      let stateClearCountdown = 0;
      const onClearBtnClick = () => {
        if (!state.isToClear) {
          stateClearCountdown = 3;
          clearInterval(stateClearInterval);
          state.clearText = `误点延时${stateClearCountdown}秒`;
          stateClearInterval = setInterval(() => {
            stateClearCountdown--;
            state.clearText = `误点延时${stateClearCountdown}秒`;
            if (stateClearCountdown <= 0) {
              clearInterval(stateClearInterval);
              state.clearText = `确认清空`;
              state.isToClear = true;
              setTimeout(() => {
                state.clearText = `清空全部数据`;
                state.isToClear = false;
              }, 2000);
            }
          }, 1000);
          return;
        }
        localStorage.removeItem("ffxiv-books-state");
        window.location.reload();
      };

      onMounted(() => {
        loadLocalState();
      });
      return {
        state,
        levequestSummary,
        onJobChange,
        onBookSelectChange,
        onBookContentChange,
        onClearBtnClick,
      };
    },
  }).mount("#app");
</script>

</html>