<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="./assets/weui.min.css" />
    <link rel="stylesheet" href="./assets/books.css" />
  </head>
  <body>
    <div id="app">
      <div class="book_select">
        <template
          v-for="(bookContent, bookName) in state.bookList"
          :key="bookName"
        >
          <div class="weui-cells weui-cells_radio">
            <label
              class="weui-cell weui-cell_active weui-check__label"
              :for="bookName"
            >
              <div class="weui-cell__bd">
                <p>{{ bookName }}</p>
              </div>
              <div class="weui-cell__ft">
                <input
                  type="radio"
                  class="weui-check"
                  @change="onBookSelectChange"
                  :id="bookName"
                  :value="bookName"
                  v-model="state.checkedBook"
                /><span class="weui-icon-checked"></span>
              </div>
            </label>
          </div>
        </template>
        <div class="weui-cells weui-cells_radio">
          <label
            class="weui-cell weui-cell_active weui-check__label"
            for="clearBtn"
          >
            <div class="weui-cell__bd">
              <p>{{ state.clearText }}</p>
            </div>
            <div class="weui-cell__ft">
              <input
                type="radio"
                class="weui-check"
                @click="onClearBtnClick"
                id="clearBtn"
                value="clear"
                v-model="state.checkedBook"
              />
            </div>
          </label>
        </div>
      </div>
      <div class="book_content">
        <template
          v-for="(bookContents, bookContentsIndex) in state.bookList[state.checkedBook]"
          :key="bookContentsIndex"
        >
          <div class="weui-cells__title">{{ bookContents.area }}</div>
          <template
            v-for="(bookContent, bookContentIndex) in bookContents.contents"
            :key="bookContentIndex"
          >
            <div class="weui-cells weui-cells_checkbox">
              <label
                class="weui-cell weui-check__label"
                :for="bookContent.name"
              >
                <div class="weui-cell__hd">
                  <input
                    type="checkbox"
                    class="weui-check"
                    @change="onBookContentChange"
                    :id="bookContent.name"
                    v-model="state.checkedBookTargets[bookContent.name]"
                  /><i class="weui-icon-checked"></i>
                </div>
                <div class="weui-cell__bd">
                  <!-- icon -->
                  <img
                    class="icon"
                    :src="state.bookOptions.icons[bookContent.type]"
                    alt=""
                  />
                  <!-- text -->
                  <div style="width: 5px"></div>
                  <span
                    >{{ state.bookOptions.texts[bookContent.type](bookContent)
                    }}</span
                  >
                </div>
              </label>
            </div>
          </template>
        </template>
      </div>
    </div>
  </body>
  <script src="./assets/vue.global.prod.js"></script>
  <script src="./assets/weui.min.js"></script>
  <script>
    const { createApp, reactive, onMounted } = Vue;
    createApp({
      setup() {
        const state = reactive({
          bookOptions: {
            icons: {
              mob: "./assets/img/060004_hr1.png",
              fate_mob: "./assets/img/060501_hr1.png",
              fate_boss: "./assets/img/060502_hr1.png",
              fate_defense: "./assets/img/060504_hr1.png",
              fate_protect: "./assets/img/060505_hr1.png",
              levequest: "./assets/img/061422_hr1.png",
              dungeon: "./assets/img/061801_hr1.png",
            },
            texts: {
              mob: (c) => `${c.name} (${c.pos})`,
              fate_mob: (c) => `${c.name} (X:${c.x}, Y:${c.y})`,
              fate_boss: (c) => `${c.name} (X:${c.x}, Y:${c.y})`,
              fate_defense: (c) => `${c.name} (X:${c.x}, Y:${c.y})`,
              fate_protect: (c) => `${c.name} (X:${c.x}, Y:${c.y})`,
              levequest: (c) => `${c.name}`,
              dungeon: (c) => `${c.name}`,
            },
          },
          bookList: {
            火天文书·第一卷: [
              {
                area: "摩杜纳",
                contents: [
                  { type: "mob", name: "第五大队魔导先锋", pos: "帝国中央堡" },
                  { type: "mob", name: "鲁莽异端者", pos: "迷雾湿地" },
                  {
                    type: "levequest",
                    name: "《火天一》 防卫指令：阿格里俄斯号的研究任务（双蛇）",
                  },
                ],
              },
              {
                area: "库尔札斯中央高地",
                contents: [
                  {
                    type: "fate_boss",
                    name: "骑兵天敌一一妖蛇飞蜥",
                    x: 8.6,
                    y: 12.0,
                  },
                  { type: "mob", name: "伐木巨人", pos: "巨石丘" },
                  {
                    type: "levequest",
                    name: "《火天一》 索敌指令：潜伏在库尔札斯的通缉犯（黑涡）",
                  },
                ],
              },
              {
                area: "拉诺西亚外地",
                contents: [
                  {
                    type: "fate_boss",
                    name: "雷雨呼唤者一一布朗格",
                    x: 25.1,
                    y: 17.9,
                  },
                  { type: "mob", name: "合成矿妖虫", pos: "武伽玛罗武装矿山" },
                ],
              },
              {
                area: "西拉诺西亚",
                contents: [
                  { type: "mob", name: "滩棘鱼人", pos: "萨普沙产卵地" },
                ],
              },
              {
                area: "东拉诺西亚",
                contents: [
                  { type: "mob", name: "第二大队剑斗士", pos: "帝国西方堡" },
                ],
              },
              {
                area: "西萨纳兰",
                contents: [
                  { type: "mob", name: "第四大队剑斗士", pos: "西风岬" },
                ],
              },
              {
                area: "南萨纳兰",
                contents: [
                  { type: "mob", name: "赞拉克格斗家", pos: "赞拉克侧翼阵" },
                ],
              },
              {
                area: "北萨纳兰",
                contents: [
                  { type: "mob", name: "石蜥蜴", pos: "蓝雾" },
                  {
                    type: "levequest",
                    name: "《火天一》 焚书任务：回收禁书《异界火焰的怪物》",
                  },
                ],
              },
              {
                area: "黑衣森林东部林区",
                contents: [
                  {
                    type: "fate_defense",
                    name: "百灵啼持久战",
                    x: 27.4,
                    y: 21.6,
                  },
                  { type: "mob", name: "乳根花簇", pos: "妖精领" },
                ],
              },
              {
                area: "迷宫探险",
                contents: [
                  { type: "dungeon", name: "地下灵殿塔姆·塔拉墓园" },
                  { type: "dungeon", name: "对龙城塞石卫塔" },
                  { type: "dungeon", name: "腐坏遗迹无限城市街古迹" },
                ],
              },
            ],
            火天文书·第二卷: [
              {
                area: "摩杜纳",
                contents: [
                  { type: "mob", name: "发狂异端者", pos: "迷雾湿地" },
                  {
                    type: "levequest",
                    name: "《火天二》 防卫指令：古代亚拉戈的遗物（恒辉）",
                  },
                ],
              },
              {
                area: "拉诺西亚外地",
                contents: [
                  {
                    type: "mob",
                    name: "武伽玛罗巨像",
                    pos: "武伽玛罗武装矿山",
                  },
                ],
              },
              {
                area: "西拉诺西亚",
                contents: [
                  {
                    type: "fate_boss",
                    name: "南防波堤之战 全力打击",
                    x: 18.9,
                    y: 22.0,
                  },
                  { type: "mob", name: "滩齿鱼人", pos: "萨普沙产卵地" },
                  { type: "mob", name: "赤鳞海盗", pos: "二分石地 海蛇巢穴" },
                ],
              },
              {
                area: "北萨纳兰",
                contents: [
                  {
                    type: "levequest",
                    name: "《火天二》 迎击任务：恶神之眼巴罗尔",
                  },
                ],
              },
              {
                area: "南萨纳兰",
                contents: [
                  { type: "fate_mob", name: "第二战斗大队", x: 21.2, y: 16.7 },
                  { type: "mob", name: "精炼剑手", pos: "赞拉克" },
                  { type: "mob", name: "不悔弓手", pos: "不悔战阵" },
                ],
              },
              {
                area: "黑衣森林东部林区",
                contents: [{ type: "mob", name: "叹息之森精", pos: "妖精领" }],
              },
              {
                area: "黑衣森林北部林区",
                contents: [
                  {
                    type: "fate_mob",
                    name: "鸟人军采伐所强攻战",
                    x: 19.5,
                    y: 19.2,
                  },
                  { type: "mob", name: "无头骑士", pos: "荣耀溪" },
                ],
              },
              {
                area: "库尔札斯中央高地",
                contents: [
                  { type: "mob", name: "风扬豪放猛士", pos: "风扬殖民地" },
                  { type: "mob", name: "雷蛟", pos: "巨石丘" },
                  {
                    type: "levequest",
                    name: "《火天二》 迎击指令：威胁前哨的魔物（双蛇）",
                  },
                ],
              },
              {
                area: "迷宫探险",
                contents: [
                  { type: "dungeon", name: "休养胜地布雷福洛克斯野营地" },
                  { type: "dungeon", name: "神灵圣域放浪神古神殿" },
                  { type: "dungeon", name: "骚乱坑道铜铃铜山" },
                ],
              },
            ],
            火狱文书·第一卷: [
              {
                area: "摩杜纳",
                contents: [
                  {
                    type: "fate_boss",
                    name: "残忍食人魔一一波罗斯",
                    x: 31.0,
                    y: 5.1,
                  },
                  { type: "mob", name: "诅咒异端者", pos: "迷雾湿地" },
                  { type: "mob", name: "基迦巨人僧侣", pos: "银泪湖北岸" },
                  {
                    type: "levequest",
                    name: "《火狱一》 迎击指令：威胁调查地安全的基迦巨人族（黒涡）",
                  },
                ],
              },
              {
                area: "库尔札斯中央高地",
                contents: [
                  { type: "mob", name: "撑船巨人", pos: "巨石丘" },
                  {
                    type: "levequest",
                    name: "《火狱一》 歼敌指令：冰霜龙鸟（恒辉）",
                  },
                ],
              },
              {
                area: "拉诺西亚外地",
                contents: [
                  {
                    type: "mob",
                    name: "武伽玛罗巡逻员",
                    pos: "武伽玛罗武装矿山",
                  },
                ],
              },
              {
                area: "西拉诺西亚",
                contents: [
                  { type: "mob", name: "赤爪海盗", pos: "二分石地 海蛇巢穴" },
                ],
              },
              {
                area: "东拉诺西亚",
                contents: [
                  { type: "mob", name: "第二大队绳斗士", pos: "帝国西方堡" },
                ],
              },
              {
                area: "北萨纳兰",
                contents: [
                  {
                    type: "levequest",
                    name: "《火狱一》 巡逻任务：确保补给通道的安全",
                  },
                ],
              },
              {
                area: "南萨纳兰",
                contents: [
                  {
                    type: "fate_boss",
                    name: "命运代言人一一灰煤烟佩古基·春",
                    x: 24.3,
                    y: 26.1,
                  },
                  { type: "mob", name: "精炼辩士", pos: "赞拉克 焚者群落" },
                  { type: "mob", name: "赞拉克预言师", pos: "不悔战阵" },
                ],
              },
              {
                area: "黑衣森林南部林区",
                contents: [
                  { type: "mob", name: "狂野野猪", pos: "兀尔德恩惠地" },
                ],
              },
              {
                area: "黑衣森林东部林区",
                contents: [
                  { type: "fate_mob", name: "以毒制毒", x: 23.7, y: 14.3 },
                  { type: "mob", name: "嚎叫之森精", pos: "妖精领" },
                ],
              },
              {
                area: "迷宫探险",
                contents: [
                  { type: "dungeon", name: "古代遗迹喀恩埋没圣堂" },
                  { type: "dungeon", name: "恶灵府邸静语庄园" },
                  { type: "dungeon", name: "剑斗领域日影地修炼所" },
                ],
              },
            ],
            水天文书·第一卷: [
              {
                area: "摩杜纳",
                contents: [
                  { type: "mob", name: "泥沼蝾螈", pos: "迷雾湿地" },
                  { type: "mob", name: "湖畔眼镜蛇", pos: "银泪湖北岸" },
                  {
                    type: "levequest",
                    name: "《水天一》 防卫指令：魔导机器的残骸（黒涡）",
                  },
                ],
              },
              {
                area: "库尔札斯中央高地",
                contents: [
                  {
                    type: "fate_boss",
                    name: "大口食人魔一一加尔加梅勒",
                    x: 34.3,
                    y: 13.7,
                  },
                  { type: "mob", name: "朗咒巨人", pos: "巨石丘" },
                  {
                    type: "levequest",
                    name: "《水天一》 焚书任务：回收禁书《黑暗羽翼的怪物》",
                  },
                ],
              },
              {
                area: "拉诺西亚外地",
                contents: [
                  {
                    type: "mob",
                    name: "武伽玛罗采石员",
                    pos: "武伽玛罗武装矿山",
                  },
                ],
              },
              {
                area: "西拉诺西亚",
                contents: [
                  {
                    type: "fate_boss",
                    name: "异国魔虫一一螳螂帝王",
                    x: 14.2,
                    y: 34.6,
                  },
                  { type: "mob", name: "礁鳞鱼人", pos: "二分石地" },
                  { type: "mob", name: "海蜂水母", pos: "二分石地 海蛇巢穴" },
                ],
              },
              {
                area: "东拉诺西亚",
                contents: [
                  { type: "mob", name: "第二大队骑士", pos: "帝国西方堡" },
                ],
              },
              {
                area: "北萨纳兰",
                contents: [
                  { type: "mob", name: "魔导先锋", pos: "劳班缓冲地" },
                  {
                    type: "levequest",
                    name: "《水天一》 巡逻任务：确保补给通道的安全",
                  },
                ],
              },
              {
                area: "南萨纳兰",
                contents: [
                  { type: "mob", name: "蜥蜴人枪兵", pos: "赞拉克 大广场" },
                ],
              },
              {
                area: "东萨纳兰",
                contents: [
                  { type: "fate_mob", name: "矿脉虫巢", x: 25.9, y: 24.6 },
                ],
              },
              {
                area: "黑衣森林东部林区",
                contents: [
                  { type: "mob", name: "妖精领哨兵", pos: "妖精领 摇篮树附近" },
                ],
              },
              {
                area: "迷宫探险",
                contents: [
                  { type: "dungeon", name: "封锁坑道铜铃铜山" },
                  { type: "dungeon", name: "山中战线泽梅尔要塞" },
                  { type: "dungeon", name: "纷争要地布雷福洛克斯野营地" },
                ],
              },
            ],
            水天文书·第二卷: [
              {
                area: "摩杜纳",
                contents: [
                  {
                    type: "fate_boss",
                    name: "沼泽林遗恨一一恩布鲁",
                    x: 15.7,
                    y: 14.2,
                  },
                  { type: "mob", name: "第五大队剑斗士", pos: "帝国中央堡" },
                  { type: "mob", name: "基迦巨人比丘", pos: "银泪湖北岸" },
                  {
                    type: "levequest",
                    name: "《水天二》 迎击指令：第五步兵大队所属部队（双蛇）",
                  },
                ],
              },
              {
                area: "库尔札斯中央高地",
                contents: [
                  { type: "mob", name: "风扬守卫黑狼", pos: "风扬殖民地" },
                  {
                    type: "levequest",
                    name: "《水天二》 巡逻任务：巡逻白云崖的街道",
                  },
                ],
              },
              {
                area: "拉诺西亚外地",
                contents: [
                  {
                    type: "mob",
                    name: "武伽玛罗受施者",
                    pos: "武伽玛罗武装矿山",
                  },
                ],
              },
              {
                area: "西拉诺西亚",
                contents: [
                  {
                    type: "fate_boss",
                    name: "北防波堤之战 全力打击",
                    x: 20.6,
                    y: 19.1,
                  },
                  { type: "mob", name: "赤眼海盗", pos: "二分石地 海蛇巢穴" },
                  { type: "mob", name: "萨普沙礁鳞鱼人", pos: "萨普沙产卵地" },
                ],
              },
              {
                area: "西萨纳兰",
                contents: [
                  { type: "mob", name: "第四大队绳斗士", pos: "西风岬" },
                ],
              },
              {
                area: "南萨纳兰",
                contents: [
                  {
                    type: "mob",
                    name: "精铁龟",
                    pos: "赞拉克 赞拉克侧翼阵周边",
                  },
                ],
              },
              {
                area: "北萨纳兰",
                contents: [
                  {
                    type: "levequest",
                    name: "《水天二》 引导任务：失踪的警犬",
                  },
                ],
              },
              {
                area: "黑衣森林南部林区",
                contents: [{ type: "mob", name: "巨虻", pos: "兀尔德恩惠地" }],
              },
              {
                area: "黑衣森林东部林区",
                contents: [
                  {
                    type: "fate_boss",
                    name: "幽谷药师一一黎明药达奇希奥",
                    x: 32.4,
                    y: 14.4,
                  },
                  { type: "mob", name: "妖精菌帽", pos: "妖精领" },
                ],
              },
              {
                area: "迷宫探险",
                contents: [
                  { type: "dungeon", name: "监狱废墟托托·拉克千狱" },
                  { type: "dungeon", name: "邪教驻地无限城古堡" },
                  { type: "dungeon", name: "恶灵府邸静语庄园" },
                ],
              },
            ],
            水狱文书·第一卷: [
              {
                area: "摩杜纳",
                contents: [
                  { type: "mob", name: "第五大队绳斗士", pos: "帝国中央堡" },
                  { type: "mob", name: "基迦巨人僧都", pos: "银泪湖北岸" },
                  {
                    type: "levequest",
                    name: "《水狱一》 歼敌指令：红发的俄刻阿诺斯（恒辉）",
                  },
                ],
              },
              {
                area: "拉诺西亚外地",
                contents: [
                  {
                    type: "mob",
                    name: "武伽玛罗祭司",
                    pos: "武伽玛罗武装矿山",
                  },
                ],
              },
              {
                area: "西拉诺西亚",
                contents: [
                  { type: "mob", name: "萨普沙礁爪鱼人", pos: "萨普沙产卵地" },
                ],
              },
              {
                area: "西萨纳兰",
                contents: [
                  { type: "mob", name: "第四大队拳斗士", pos: "西风岬" },
                ],
              },
              {
                area: "南萨纳兰",
                contents: [
                  { type: "mob", name: "蜥蜴人劫道兵", pos: "赞拉克 大广场" },
                ],
              },
              {
                area: "北萨纳兰",
                contents: [
                  { type: "fate_protect", name: "青磷大路", x: 21.8, y: 29.4 },
                  {
                    type: "levequest",
                    name: "《水狱一》 讨伐任务：犯罪组织巴特商会",
                  },
                ],
              },
              {
                area: "黑衣森林南部林区",
                contents: [
                  { type: "mob", name: "小狐蝠", pos: "兀尔德恩惠地" },
                ],
              },
              {
                area: "黑衣森林东部林区",
                contents: [{ type: "mob", name: "嚎叫紫妖精", pos: "妖精领" }],
              },
              {
                area: "黑衣森林北部林区",
                contents: [
                  {
                    type: "fate_boss",
                    name: "遗迹的亡灵骑士一一代达罗斯",
                    x: 21.8,
                    y: 19.8,
                  },
                  { type: "mob", name: "鸟人风爪剑士", pos: "荣耀溪" },
                ],
              },
              {
                area: "库尔札斯中央高地",
                contents: [
                  {
                    type: "fate_boss",
                    name: "烈风勇士一一怀罗克四姐妹",
                    x: 34.7,
                    y: 21.3,
                  },
                  { type: "mob", name: "雪地白狼", pos: "巨石丘" },
                  {
                    type: "levequest",
                    name: "《水狱一》 迎击任务：徘徊的利剑牛头魔",
                  },
                ],
              },
              {
                area: "迷宫探险",
                contents: [
                  { type: "dungeon", name: "流沙迷宫樵鸣洞" },
                  { type: "dungeon", name: "领航明灯天狼星灯塔" },
                  { type: "dungeon", name: "腐坏遗迹无限城市街古迹" },
                ],
              },
            ],
            风天文书·第一卷: [
              {
                area: "摩杜纳",
                contents: [
                  {
                    type: "fate_mob",
                    name: "魔界花盛开的世界",
                    x: 13.5,
                    y: 12.1,
                  },
                  { type: "mob", name: "第五大队骑士", pos: "帝国中央堡" },
                  { type: "mob", name: "骏鹰", pos: "银泪湖北岸" },
                  {
                    type: "levequest",
                    name: "《风天一》 迎击任务：验证哈帕利特奴隶末裔说的真伪",
                  },
                ],
              },
              {
                area: "库尔札斯中央高地",
                contents: [
                  { type: "mob", name: "风扬风爪剑士", pos: "风扬殖民地" },
                  {
                    type: "levequest",
                    name: "《风天一》 歼敌指令：怒号的米玛斯（黒涡）",
                  },
                ],
              },
              {
                area: "拉诺西亚外地",
                contents: [
                  { type: "mob", name: "精英巡逻员", pos: "武伽玛罗武装矿山" },
                ],
              },
              {
                area: "西拉诺西亚",
                contents: [
                  { type: "mob", name: "壕齿鱼人", pos: "二分石地" },
                  { type: "mob", name: "萨普沙水龙蜥", pos: "萨普沙产卵地" },
                ],
              },
              {
                area: "拉诺西亚高地",
                contents: [
                  {
                    type: "fate_defense",
                    name: "守护运输部队",
                    x: 26.8,
                    y: 18.9,
                  },
                ],
              },
              {
                area: "东拉诺西亚",
                contents: [
                  { type: "mob", name: "第二大队拳斗士", pos: "帝国西方堡" },
                ],
              },
              {
                area: "北萨纳兰",
                contents: [
                  { type: "mob", name: "冥鬼之眼", pos: "蓝雾" },
                  {
                    type: "levequest",
                    name: "《风天一》 讨伐任务：犯罪组织巴特商会",
                  },
                ],
              },
              {
                area: "南萨纳兰",
                contents: [
                  { type: "mob", name: "蜥蜴人咒术法师", pos: "赞拉克 大广场" },
                ],
              },
              {
                area: "黑衣森林东部林区",
                contents: [{ type: "mob", name: "咆哮之森精", pos: "妖精领" }],
              },
              {
                area: "黑衣森林中央林区",
                contents: [
                  {
                    type: "fate_boss",
                    name: "阴险的魔物一一憎恨恶石",
                    x: 11.5,
                    y: 18.2,
                  },
                ],
              },
              {
                area: "迷宫探险",
                contents: [
                  { type: "dungeon", name: "天然要害沙斯塔夏溶洞" },
                  { type: "dungeon", name: "毒雾洞窟黄金谷" },
                  { type: "dungeon", name: "剑斗领域日影地修炼所" },
                ],
              },
            ],
            风天文书·第二卷: [
              {
                area: "摩杜纳",
                contents: [
                  { type: "mob", name: "第五大队旗手", pos: "帝国中央堡" },
                  { type: "mob", name: "基迦巨人沙门", pos: "银泪湖北岸" },
                  {
                    type: "levequest",
                    name: "《风天二》 巡逻任务：抢夺宝石饰品的基迦巨人族",
                  },
                ],
              },
              {
                area: "拉诺西亚外地",
                contents: [
                  { type: "mob", name: "精英祭司", pos: "武伽玛罗武装矿山" },
                ],
              },
              {
                area: "西拉诺西亚",
                contents: [
                  { type: "mob", name: "萨普沙礁齿鱼人", pos: "萨普沙产卵地" },
                ],
              },
              {
                area: "西萨纳兰",
                contents: [
                  { type: "mob", name: "第四大队旗手", pos: "西风岬" },
                ],
              },
              {
                area: "南萨纳兰",
                contents: [
                  { type: "fate_mob", name: "友人与家人", x: 18.4, y: 19.7 },
                  { type: "mob", name: "不悔战斗火蛟", pos: "不悔战阵" },
                  { type: "mob", name: "蜥蜴人弓手", pos: "赞拉克" },
                ],
              },
              {
                area: "北萨纳兰",
                contents: [
                  {
                    type: "levequest",
                    name: "《风天二》 焚书任务：回收禁书《异界火焰的怪物》",
                  },
                ],
              },
              {
                area: "黑衣森林南部林区",
                contents: [
                  {
                    type: "fate_boss",
                    name: "最后的斗猪王一一派亚",
                    x: 32.1,
                    y: 25.4,
                  },
                ],
              },
              {
                area: "黑衣森林东部林区",
                contents: [{ type: "mob", name: "梦蟾蜍", pos: "妖精领" }],
              },
              {
                area: "黑衣森林北部林区",
                contents: [{ type: "mob", name: "守卫黑狼", pos: "荣耀溪" }],
              },
              {
                area: "库尔札斯中央高地",
                contents: [
                  { type: "fate_mob", name: "力量之塔", x: 10.4, y: 28.6 },
                  { type: "mob", name: "风扬迷雾术士", pos: "风扬殖民地" },
                  {
                    type: "levequest",
                    name: "《风天二》 防卫指令：追击者的遗物（双蛇）",
                  },
                ],
              },
              {
                area: "迷宫探险",
                contents: [
                  { type: "dungeon", name: "名门府邸静语庄园" },
                  { type: "dungeon", name: "骚乱坑道铜铃铜山" },
                  { type: "dungeon", name: "纷争要地布雷福洛克斯野营地" },
                ],
              },
            ],
            土天文书·第一卷: [
              {
                area: "摩杜纳",
                contents: [
                  { type: "mob", name: "第五大队拳斗士", pos: "帝国中央堡" },
                  { type: "mob", name: "哈帕利特", pos: "银泪湖北岸" },
                  {
                    type: "levequest",
                    name: "《土天一》 焚书任务：回收禁书《尖牙利齿的怪物》",
                  },
                ],
              },
              {
                area: "拉诺西亚外地",
                contents: [
                  { type: "fate_boss", name: "试掘地强攻", x: 23.8, y: 16.4 },
                  { type: "mob", name: "精英采石员", pos: "武伽玛罗武装矿山" },
                ],
              },
              {
                area: "西拉诺西亚",
                contents: [
                  { type: "mob", name: "钝口螈", pos: "萨普沙产卵地" },
                ],
              },
              {
                area: "东拉诺西亚",
                contents: [
                  { type: "mob", name: "第二大队旗手", pos: "帝国西方堡" },
                ],
              },
              {
                area: "北萨纳兰",
                contents: [
                  {
                    type: "levequest",
                    name: "《土天一》 迎击任务：恶神之眼巴罗尔",
                  },
                ],
              },
              {
                area: "南萨纳兰",
                contents: [
                  { type: "mob", name: "不悔拳手", pos: "不悔战阵" },
                  { type: "mob", name: "蜥蜴人清道夫", pos: "赞拉克" },
                ],
              },
              {
                area: "东萨纳兰",
                contents: [
                  {
                    type: "fate_boss",
                    name: "丑恶合成兽一一巴杜枭",
                    x: 30.0,
                    y: 25.5,
                  },
                ],
              },
              {
                area: "黑衣森林东部林区",
                contents: [{ type: "mob", name: "叹息紫妖精", pos: "妖精领" }],
              },
              {
                area: "黑衣森林北部林区",
                contents: [
                  { type: "mob", name: "鸟人豪放猛士", pos: "荣耀溪" },
                ],
              },
              {
                area: "库尔札斯中央高地",
                contents: [
                  {
                    type: "fate_boss",
                    name: "雪山袭击者一一索贝克",
                    x: 4.8,
                    y: 21.9,
                  },
                  { type: "mob", name: "风扬敏捷战士", pos: "风扬殖民地" },
                  {
                    type: "levequest",
                    name: "《土天一》 索敌指令：惊吓调查员的恶灵（恒辉）",
                  },
                ],
              },
              {
                area: "迷宫探险",
                contents: [
                  { type: "dungeon", name: "魔兽领域日影地修炼所" },
                  { type: "dungeon", name: "邪教驻地无限城古堡" },
                  { type: "dungeon", name: "领航明灯天狼星灯塔" },
                ],
              },
            ],
            理符总览: [
              {
                area: "北萨纳兰",
                contents: [
                  {
                    type: "levequest",
                    name: "《火天一》 焚书任务：回收禁书《异界火焰的怪物》",
                  },
                  {
                    type: "levequest",
                    name: "《火天二》 迎击任务：恶神之眼巴罗尔",
                  },
                  {
                    type: "levequest",
                    name: "《火狱一》 巡逻任务：确保补给通道的安全",
                  },
                  {
                    type: "levequest",
                    name: "《水天一》 巡逻任务：确保补给通道的安全",
                  },
                  {
                    type: "levequest",
                    name: "《水天二》 引导任务：失踪的警犬",
                  },
                  {
                    type: "levequest",
                    name: "《水狱一》 讨伐任务：犯罪组织巴特商会",
                  },
                  {
                    type: "levequest",
                    name: "《风天一》 讨伐任务：犯罪组织巴特商会",
                  },
                  {
                    type: "levequest",
                    name: "《风天二》 焚书任务：回收禁书《异界火焰的怪物》",
                  },
                  {
                    type: "levequest",
                    name: "《土天一》 迎击任务：恶神之眼巴罗尔",
                  },
                ],
              },
              {
                area: "库尔扎斯中央高地",
                contents: [
                  {
                    type: "levequest",
                    name: "《火天一》 索敌指令：潜伏在库尔札斯的通缉犯（黑涡）",
                  },
                  {
                    type: "levequest",
                    name: "《火天二》 迎击指令：威胁前哨的魔物（双蛇）",
                  },
                  {
                    type: "levequest",
                    name: "《火狱一》 歼敌指令：冰霜龙鸟（恒辉）",
                  },
                  {
                    type: "levequest",
                    name: "《水天一》 焚书任务：回收禁书《黑暗羽翼的怪物》",
                  },
                  {
                    type: "levequest",
                    name: "《水天二》 巡逻任务：巡逻白云崖的街道",
                  },
                  {
                    type: "levequest",
                    name: "《水狱一》 迎击任务：徘徊的利剑牛头魔",
                  },
                  {
                    type: "levequest",
                    name: "《风天一》 歼敌指令：怒号的米玛斯（黒涡）",
                  },
                  {
                    type: "levequest",
                    name: "《风天二》 防卫指令：追击者的遗物（双蛇）",
                  },
                  {
                    type: "levequest",
                    name: "《土天一》 索敌指令：惊吓调查员的恶灵（恒辉）",
                  },
                ],
              },
              {
                area: "摩杜纳",
                contents: [
                  {
                    type: "levequest",
                    name: "《火天一》 防卫指令：阿格里俄斯号的研究任务（双蛇）",
                  },
                  {
                    type: "levequest",
                    name: "《火天二》 防卫指令：古代亚拉戈的遗物（恒辉）",
                  },
                  {
                    type: "levequest",
                    name: "《火狱一》 迎击指令：威胁调查地安全的基迦巨人族（黒涡）",
                  },
                  {
                    type: "levequest",
                    name: "《水天一》 防卫指令：魔导机器的残骸（黒涡）",
                  },
                  {
                    type: "levequest",
                    name: "《水天二》 迎击指令：第五步兵大队所属部队（双蛇）",
                  },
                  {
                    type: "levequest",
                    name: "《水狱一》 歼敌指令：红发的俄刻阿诺斯（恒辉）",
                  },
                  {
                    type: "levequest",
                    name: "《风天一》 迎击任务：验证哈帕利特奴隶末裔说的真伪",
                  },
                  {
                    type: "levequest",
                    name: "《风天二》 巡逻任务：抢夺宝石饰品的基迦巨人族",
                  },
                  {
                    type: "levequest",
                    name: "《土天一》 焚书任务：回收禁书《尖牙利齿的怪物》",
                    book: "土天文书·第一卷",
                  },
                ],
              },
            ],
            危命总览: [
              {
                area: "火天文书·第一卷",
                contents: [
                  {
                    type: "fate_boss",
                    name: "骑兵天敌一一妖蛇飞蜥",
                    x: 8.6,
                    y: 12.0,
                  },
                  {
                    type: "fate_boss",
                    name: "雷雨呼唤者一一布朗格",
                    x: 25.1,
                    y: 17.9,
                  },
                  {
                    type: "fate_defense",
                    name: "百灵啼持久战",
                    x: 27.4,
                    y: 21.6,
                  },
                ],
              },
              {
                area: "火天文书·第二卷",
                contents: [
                  {
                    type: "fate_boss",
                    name: "南防波堤之战 全力打击",
                    x: 18.9,
                    y: 22.0,
                  },
                  { type: "fate_mob", name: "第二战斗大队", x: 21.2, y: 16.7 },
                  {
                    type: "fate_mob",
                    name: "鸟人军采伐所强攻战",
                    x: 19.5,
                    y: 19.2,
                  },
                ],
              },
              {
                area: "火狱文书·第一卷",
                contents: [
                  {
                    type: "fate_boss",
                    name: "残忍食人魔一一波罗斯",
                    x: 31.0,
                    y: 5.1,
                  },
                  {
                    type: "fate_boss",
                    name: "命运代言人一一灰煤烟佩古基·春",
                    x: 24.3,
                    y: 26.1,
                  },
                  { type: "fate_mob", name: "以毒制毒", x: 23.7, y: 14.3 },
                ],
              },
              {
                area: "水天文书·第一卷",
                contents: [
                  {
                    type: "fate_boss",
                    name: "大口食人魔一一加尔加梅勒",
                    x: 34.3,
                    y: 13.7,
                  },
                  {
                    type: "fate_boss",
                    name: "异国魔虫一一螳螂帝王",
                    x: 14.2,
                    y: 34.6,
                  },
                  { type: "fate_mob", name: "矿脉虫巢", x: 25.9, y: 24.6 },
                ],
              },
              {
                area: "水天文书·第二卷",
                contents: [
                  {
                    type: "fate_boss",
                    name: "沼泽林遗恨一一恩布鲁",
                    x: 15.7,
                    y: 14.2,
                  },
                  {
                    type: "fate_boss",
                    name: "北防波堤之战 全力打击",
                    x: 20.6,
                    y: 19.1,
                  },
                  {
                    type: "fate_boss",
                    name: "幽谷药师一一黎明药达奇希奥",
                    x: 32.4,
                    y: 14.4,
                  },
                ],
              },
              {
                area: "水狱文书·第一卷",
                contents: [
                  { type: "fate_protect", name: "青磷大路", x: 21.8, y: 29.4 },
                  {
                    type: "fate_boss",
                    name: "遗迹的亡灵骑士一一代达罗斯",
                    x: 21.8,
                    y: 19.8,
                  },
                  {
                    type: "fate_boss",
                    name: "烈风勇士一一怀罗克四姐妹",
                    x: 34.7,
                    y: 21.3,
                  },
                ],
              },
              {
                area: "风天文书·第一卷",
                contents: [
                  {
                    type: "fate_mob",
                    name: "魔界花盛开的世界",
                    x: 13.5,
                    y: 12.1,
                  },
                  {
                    type: "fate_defense",
                    name: "守护运输部队",
                    x: 26.8,
                    y: 18.9,
                  },
                  {
                    type: "fate_boss",
                    name: "阴险的魔物一一憎恨恶石",
                    x: 11.5,
                    y: 18.2,
                  },
                ],
              },
              {
                area: "风天文书·第二卷",
                contents: [
                  { type: "fate_mob", name: "友人与家人", x: 18.4, y: 19.7 },
                  {
                    type: "fate_boss",
                    name: "最后的斗猪王一一派亚",
                    x: 32.1,
                    y: 25.4,
                  },
                  { type: "fate_mob", name: "力量之塔", x: 10.4, y: 28.6 },
                ],
              },
              {
                area: "土天文书·第一卷",
                contents: [
                  { type: "fate_boss", name: "试掘地强攻", x: 23.8, y: 16.4 },
                  {
                    type: "fate_boss",
                    name: "丑恶合成兽一一巴杜枭",
                    x: 30.0,
                    y: 25.5,
                  },
                  {
                    type: "fate_boss",
                    name: "雪山袭击者一一索贝克",
                    x: 4.8,
                    y: 21.9,
                  },
                ],
              },
            ],
          },
          checkedBookContentsListList: [],
          checkedBooks: {},
          checkedBookTargets: {},
          checkedBook: "",
          isToClear: false,
          clearText: "清空已选项",
        });
        const onBookSelectChange = () => {
          let checkedBooks = state.checkedBooks;
          state.checkedBookContentsListList = [];
          Object.keys(checkedBooks).forEach((checkedBook) => {
            if (checkedBooks[checkedBook]) {
              state.checkedBookContentsListList.push(
                state.bookList[checkedBook]
              );
            }
          });
          saveLocalState();
        };
        const onBookContentChange = () => {
          saveLocalState();
        };
        const saveLocalState = () => {
          localStorage.setItem(
            "ffxiv-books-state",
            JSON.stringify({
              checkedBookContentsListList: state.checkedBookContentsListList,
              checkedBooks: state.checkedBooks,
              checkedBookTargets: state.checkedBookTargets,
              checkedBook: state.checkedBook,
            })
          );
        };
        const loadLocalState = () => {
          if (localStorage.getItem("ffxiv-books-state") != null) {
            const localState = JSON.parse(
              localStorage.getItem("ffxiv-books-state")
            );
            state.checkedBookContentsListList =
              localState.checkedBookContentsListList;
            state.checkedBooks = localState.checkedBooks;
            state.checkedBookTargets = localState.checkedBookTargets;
            state.checkedBook = localState.checkedBook;
          }
        };
        let stateClearInterval = null;
        let stateClearCountdown = 0;
        const onClearBtnClick = () => {
          if (!state.isToClear) {
            stateClearCountdown = 3;
            clearInterval(stateClearInterval);
            state.clearText = `误点延时${stateClearCountdown}秒`;
            stateClearInterval = setInterval(() => {
              stateClearCountdown--;
              state.clearText = `误点延时${stateClearCountdown}秒`;
              if (stateClearCountdown <= 0) {
                clearInterval(stateClearInterval);
                state.clearText = `确认清空`;
                state.isToClear = true;
                setTimeout(() => {
                  state.clearText = `清空已选项`;
                  state.isToClear = false;
                }, 2000);
              }
            }, 1000);
            return;
          }
          localStorage.removeItem("ffxiv-books-state");
          window.location.reload();
        };
        onMounted(() => {
          loadLocalState();
          onBookSelectChange();
        });
        return {
          state,
          onBookSelectChange,
          onBookContentChange,
          onClearBtnClick,
        };
      },
    }).mount("#app");
  </script>
</html>
