body {
	background: #2a2c36;
	padding: 0;
}

.alert {
	padding-top: 7px;
	padding-bottom: 7px;
}

.login-box {
	padding: 20px;
	margin-top: 100px;
}

.login-box .header {
	color: white;
	text-align: center;
	margin: -20px -20px 20px -20px;
	padding: 15px;
	text-transform: uppercase;
}

.form-control {
	border: 1px solid #d1d4d7;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: #3d3f42;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.login-box .form-control {
	font-size: 13px;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	border-left: none;
}

.login-box .form-group {
	margin-bottom: -1px;
}

.input-group-addon {
	color: #afb2b5;
	background-color: #f8f9fa;
	border: 1px solid #d1d4d7;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.login-box .input-group-addon:after {
	position: absolute;
	content: '';
	border-right: 1px solid #d1d4d7;
	height: 60%;
	width: 1px;
	top: 20%;
	right: 0;
}

.input-group-addon i {
	width: 14px;
	text-align: center;
}

.login-box .form-group.first .input-group-addon {
	-webkit-border-radius: 2px 0 0 0;
	-moz-border-radius: 2px 0 0 0;
	border-radius: 2px 0 0 0;
}

.login-box .input-group-addon {
	background: white !important;
	border-right: 0;
	position: relative;
}

.login-box .form-group.first .form-control {
	-webkit-border-radius: 0 2px 0 0;
	-moz-border-radius: 0 2px 0 0;
	border-radius: 0 2px 0 0;
}

.login-box button {
	margin: 20px 0 10px 0;
}

.login-box a {
	color: #d1d4d7;
	font-size: 12px;
}