.list_nav {
	display: none;
}

.product_list_code {
	line-height: 40px;
}

.product_img img,
.product_show img {
	max-width: 100%;
}

.product_detail {
	margin: 50px 85px 50px 85px;
}

.product_detail_tab {
	padding: 0;
	/*border-bottom: 1px solid #e5e5e5;*/
}

.service_row {
	display: none;
}

.carousel-control {
	background: 0 !important;
}

.carousel-inner {
	padding: 0 60px;
	margin-top: 20px;
}

.product_feature {
	height: 300px;
}

.product_feature_text {
	margin-top: 50px;
	margin-bottom: 50px;
}

.product_feature_title {
	font-size: 20px;
	line-height: 40px;
}

.product_feature_item {
	font-size: 16px;
	line-height: 35px;
}

.filter_container {
	margin-bottom: 50px;
}

/* 768以上布局 */
@media screen and (min-width: 768px) {
	.service_row {
		padding-left: 70px;
	}
}

/* 1200以下布局 */
@media screen and (max-width: 1200px) {
	.service_row {
		padding-left: 30px;
		padding-right: 0;
	}
	.product_detail {
		margin: 50px 40px 50px 40px;
	}
}

/* 768以下布局 */
@media screen and (max-width: 768px) {
	.product_feature {
		height: 300px;
	}
	.product_detail {
		margin: 30px 0 30px 0;
	}
	.col-xs-1 {
		/*display: none;*/
	}
	.product_img {
		padding-left: 0;
		padding-right: 0;
	}
}