.find_row {
	margin-top: 40px;
	margin-bottom: 40px;
}

.find_map {
	height: 430px;
}

.find_network_list,
.find_network_item {
	border-radius: 0 !important;
	border: 0 !important;
	/*border-bottom: #bfbfbf 1px solid !important;*/
	/*margin-bottom: -1px;*/
}

.find_network_item {
	border-bottom: #f8f8f8 1px solid !important;
	margin-bottom: 0;
}

.find_network_item.active,
.find_network_item.active:hover {
	background-color: #f8f8f8;
	color: #777;
}

.find_network_item div {
	padding: 0;
}

.find_network_num {
	display: inline-block;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	background-color: #D7000F;
	color: #fff;
}

.find_network_name {
	font-size: 18px;
	color: #000;
}

.find_network_addr {
	font-size: 12px;
	color: #aaa;
	margin-bottom: 10px;
}

.find_network_tel {
	color: #aaa;
}

.find_network_window {
	margin: 0;
}

.find_network_window div {
	padding-left: 0;
	padding-right: 0;
}

.find_network_window .network_icon img {
	width: 35px;
}

.find_network_window .network_text {
	padding-left: 10px;
}

.find_network_window .network_text .network_name {
	font-size: 16px;
}

.find_network_window .network_text .network_addr {
	font-size: 10px;
	margin-bottom: 20px;
}

.find_network_window .network_text .network_tel {
	text-align: right;
}

#allmap {
	width:100%;
	height:100%;
	overflow: hidden;
}

.anchorBL,
.BMap_shadow {
	display: none;
}

.BMapLabel {
	border: 0 !important;
	background-color: transparent !important;
	color: #fff !important;
}
.BMap_pop {
	opacity: 0.85;
}

.track3 {
    width: 10px;
    background: rgba(0, 0, 0, 0);
    margin-right: 2px;
    border-radius: 10px;
    -webkit-transition: background 250ms linear;
    transition: background 250ms linear;
}

.track3:hover,
.track3.dragging {
    background: #d9d9d9; 
    background: rgba(0, 0, 0, 0.15);
}

.handle3 {
    width: 7px;
    right: 0;
    background: #999;
    background: #d7000f;
    border-radius: 7px;
    -webkit-transition: width 250ms;
    transition: width 250ms;
}

.track3:hover .handle3,
.track3.dragging .handle3 {
    width: 10px;
}

/* 768以上布局 */
@media screen and (min-width: 768px) {
	.find_row {
		padding: 0 70px;
	}

	.find_network_list {
		padding: 0;
	}

	.find_network {
		max-height: 380px;
		width: 390px;
		overflow: scroll;
		overflow-x: hidden;
	}
}

/* 768以下布局 */
@media screen and (max-width: 768px) {
	.find_network {
		display: none;
	}
	.find_map {
		padding-left: 0;
		padding-right: 0;
	}
}