.inline_span_cn {
	font-size: 24px;
	font-family: "微软雅黑"
}

.inline_span_en {
	font-size: 14px;
	font-family: "微软雅黑"
}

.vcenter {
	display: inline-block;
	vertical-align: middle;
	float: none;
}

.inline_row {
	margin-top: 100px;
	margin-bottom: 60px;
}

.product_list {
	margin-top: 30px;
	margin-bottom: 40px;
	padding: 0 35px;
}

.product_list img,
.inline_row img,
.news_pic img {
	max-width: 100%;
}

.lifestyle_column .lifestyle_column_line {
	border-top: 1px solid #e5e5e5;
	margin: 10px 15px 30px 15px;
}

.lifestyle_column .lifestyle_column_r_top,
.lifestyle_column .lifestyle_column_r_bottom {
	margin-left: 0;
	margin-right: 0;
}

.new_icon {
	position: absolute;
	left: -15px;
	top: -15px;
	width: 35px;
}

.new_icon img {
	width: 100%;
}

.news_pic {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	margin-bottom: 10px;
	max-width: 100%;
	padding: 0;
}

.news_item {
	font-family: "arial", "SimHei";
	margin-bottom: 20px;
}

.news_item .news_info {
	font-size: 12px;
	margin-bottom: 5px;
}

.news_item .news_title {
	font-size: 20px;
	margin-bottom: 10px;
}

.news_item .news_intro {
	font-size: 14px;
	margin-bottom: 5px;
	color: #595959;
}

.news_item .news_title a,
.news_item .news_intro a,
.news_list ul li a {
	color: #000;
	/*text-decoration: none;*/
}

.news_list ul {
	border-top: 1px solid #e5e5e5;
}

.news_list ul {
	padding-top: 20px;
	padding-left: 0;
}

.news_list ul li {
	list-style: none;
}

.news_list ul li:before {
	content: '• ';
	display: inline-block;
	/*height: 15px;*/
	width: 10px;
	/*background-image: url(../img/list_icon.png);*/
	/*background-size: cover;*/
	/*vertical-align: sub;*/
	/*margin-right: 10px;*/
	/*background-repeat: no-repeat;*/
	font-size: 16px;
	color: #C9151D;
}

.news_list ul li {
	line-height: 20px;
	margin-bottom: 10px;
	font-size: 13px;
}

.news_list .news_list_item {
	width: calc(100% - 35px);
	display: inline-block;
}

.news_list .news_list_date {
	display: inline-block;
	min-width: 70px;
}

.news_list .news_list_title {
	display: inline-block;
	max-width: 340px;
	vertical-align: top;
}

.news_more {
	display: inline-block;
	margin-bottom: 3px;
	border-bottom: 1px solid #b91b27;
	margin-right: 20px;
}

.news_more a {
	font-size: 14px;
	color: #b91b27;
	text-decoration: none;
}

.lifestyle_icon {
	position: absolute;
	left: -10px;
	top: -10px;
	background-color: #d7000f;
	color: #fff;
	width: 40px;
	height: 20px;
	border-radius: 4px;
	font-size: 12px;
	line-height: 20px;
}

/* 768以上布局 */
@media screen and (min-width: 768px) {
.banner_m,
.news_item .new_text,
.lifestyle_type {
	display: none;
}

.banner_pc, .banner_m {
	margin-top: 15px;
}

.inline_span_cn {
	font-size: 24px;
	font-family: "微软雅黑"
}

.inline_span_en {
	font-size: 14px;
	font-family: "微软雅黑"
}

.product_list .product_img {
	width: 92px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 18px;
}

.news_column .news_column_l,
.lifestyle_column .lifestyle_column_l {
	padding: 0 15px;
}

.news_column,
.lifestyle_column {
	padding: 0 60px;
}

.news_column > div,
.lifestyle_column > div {
	padding: 0;
}

.news_item {
	padding: 0;
}

.col-xs-12 > .news_pic {
	width: 450px;
}

.col-xs-6 > .news_pic {
	width: 210px;
}
}

/* 1200以下布局 */
@media screen and (max-width: 1200px) {
.news_column,
.lifestyle_column {
	padding: 0 15px;
}
}

/* 768以下布局 */
@media screen and (max-width: 768px) {
.banner_pc,
.news_column_l .news_intro,
.new_icon,
.news_list,
.lifestyle_icon,
.lifestyle_column_l .news_intro, 
.inline_row .bar, 
.lifestyle_column_r .lifestyle_column_line,
.lifestyle_column_r_bottom {
	display: none;
}

.banner_pc, .banner_m {
	/*margin-top: 5px;*/
	margin-left: -15px;
	margin-right: -15px;
}

.inline_span_cn {
	font-size: 18px;
	font-family: "微软雅黑";
}

.inline_span_en {
	font-size: 12px;
	font-family: "微软雅黑";
	margin-top: 3px;
	border-top: 1.5px solid #b91b27;
}

.product_list .product_text {
	display: inline-block;
	vertical-align: middle;
	width: 50%;
	font-size: 12px;
}

.product_list .product_img {
	display: inline-block;
	vertical-align: middle;
	width: 50%;
}

.product_sale {
	margin-left: -15px;
	margin-right: -15px;
}

.product_list > div {
	padding: 10px 5px 10px 10px;
	/*border: 1px solid #e5e5e5;*/
}

.product_list .product_list_item_1_1 {
	/*border-bottom: 1px solid #e5e5e5;*/
	margin-bottom: -1px;
	padding-top: 18px;
	padding-bottom: 18px;
}

.product_list .product_list_item_1_2 {
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	/*border-bottom: 1px solid #e5e5e5;*/
	margin-bottom: -1px;
	padding-top: 18px;
	padding-bottom: 18px;
}

.product_list .product_list_item_1_3 {
	/*border-bottom: 1px solid #e5e5e5;*/
	margin-bottom: -1px;
	padding-top: 18px;
	padding-bottom: 18px;
}

.product_list .product_list_item_2_1 {
	border-top: 1px solid #e5e5e5;
	padding-top: 18px;
	padding-bottom: 18px;
}

.product_list .product_list_item_2_2 {
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	border-top: 1px solid #e5e5e5;
	padding-top: 18px;
	padding-bottom: 18px;
}

.product_list .product_list_item_2_3 {
	border-top: 1px solid #e5e5e5;
	padding-top: 18px;
	padding-bottom: 18px;
}

.news_item {
	margin-top: 20px;
	margin-bottom: 0;
	padding-right: 0;
}

.news_item .news_title {
	font-size: 14px;
}

.news_more {
	margin-right: 0;
	margin-top: 10px;
	border-bottom: 0;
}

.news_column,
.lifestyle_column,
.lifestyle_column_r {
	padding: 0;
}

.news_column_r > div {
	/*margin-top: 5px;*/
	/*margin-bottom: 5px;*/
	border-top: 1px dashed #e5e5e5;
	border-bottom: 1px dashed #e5e5e5;
	margin-bottom: -1px;
}

.news_column_r > div {
	padding: 0;
}

.news_column_r .news_intro {
	font-size: 14px;
}

.news_item .new_text {
	float: right;
	color: #C9151D;
	font-size: 10px;
}

.news_item .lifestyle_type {
	/*float: right;*/
	color: #D7000F;
	font-size: 12px;
}

.news_pic {
	margin-top: 20px;
	margin-bottom: 20px;
}

.news_more a {
	font-size: 12px;
}

.product_list {
	margin: 0 -15px;
	padding: 0;
	/*margin-top: 15px;*/
	/*margin-bottom: 25px;*/
}

.inline_row {
	margin-top: 35px;
	margin-bottom: 5px;
}

.lifestyle_column ,
.lifestyle_column div{
	padding: 0;
}

.lifestyle_column .lifestyle_column_l {
	margin-top: 20px;
}

.lifestyle_column .news_pic {
	margin: 0;
	position: relative;
}

.lifestyle_column .news_item {
	position: absolute;
	bottom: 0;
	padding-left: 15px;
}

.lifestyle_column .lifestyle_type {
	position: absolute;
	top: 10px;
	margin-left: 15px;
	font-size: 12px;
	background-color: rgba(0,0,0,0.3);
	color: #fff;
	/* padding: 5px; */
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.lifestyle_column .news_title a,
.lifestyle_column .news_intro a {
	color: #fff;
	text-shadow: 0px 1px 2px #000;
	font-size: 16px;
}

.lifestyle_column .news_more_column {
	padding-right: 15px;
}
}