.lifestyle_thumb_s img {
	max-width: 100%;
	margin-bottom: 5px;
}

.lifestyle_item {
	border: #EFEDED 2px solid;
	margin-bottom: 10px;
}

.lifestyle_thumb_l {
	height: 200px;
	padding: 10px;
}

.lifestyle_thumb_l .lifestyle_img {
	/*height: 100%;*/
}

.lifestyle_thumb_l .lifestyle_img a {
	display: block;
	overflow: hidden;
	position: relative;
	height: 100%;
}

.qrcode {
	margin-top: 20px;
	width: 130px;
}

.qrcode_text {
	color: #595959;
	letter-spacing: 3px;
	margin-top: 5px;
}

.lifestyle_thumb_s .lifestyle_img a {
	display: block;
	overflow: hidden;
	position: relative;
	/* padding-top: 177%; */
	height: 100%;
	/* padding-bottom: 50%; */
}

.lifestyle_thumb_s .lifestyle_img a img:hover {
	/*transform: scale(1.2);*/
}

.lifestyle_item img {
	/*margin-bottom: 10px;*/
}

.lifestyle_tag {
	font-size: 12px;
	text-align: right;
	color: #D7000F;
	margin-bottom: 10px;
}

.lifestyle_title_l {
	font-size: 18px;
	margin-bottom: 10px;
}

.lifestyle_intro_l {
	font-size: 14px;
	color: #595959;
}

.lifestyle_thumb_s {
	height: 350px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.lifestyle_title_s {
	font-size: 14px;
	margin-bottom: 10px;
}

.lifestyle_title_l a, .lifestyle_title_s a {
	color: #000;
	text-decoration: none;
}

.lifestyle_intro_s {
	font-size: 12px;
	color: #595959;
}

/* 768以上布局 */
@media screen and (min-width: 768px) {

	.lifestyle_container {
		padding: 0 120px;
	}

	.lifestyle_img {
		text-align: center;
	}

	.lifestyle_thumb_l .lifestyle_img a img {
		height: 170px;
	}

	.lifestyle_thumb_s .lifestyle_img a img {
		height: 160px;
		/*transition: all .6s;*/
		position: absolute;
		left: -20%;
		max-width: 600px;
	}

	.lifestyle_thumb_s .lifestyle_img {
		height: 160px;
		margin-bottom: 5px;
	}

	.lifestyle_item div {
		padding: 0;
	}

	.lifestyle_head_list .lifestyle_text {
		padding-left: 30px !important;
	}

	.lifestyle_list .row {
		padding: 0;
	}

	.lifestyle_list .row > div {
		padding-left: 5px;
		padding-right: 5px;
	}

	.lifestyle_img .lifestyle_tag {
		display: none;
	}

	.lifestyle_foot_list .qrcode_item {
		display: none;
	}
}

/* 768以下布局 */
@media screen and (max-width: 768px) {
	.lifestyle_thumb_l {
		height: auto;
		padding-top: 10px;
	}

	.lifestyle_thumb_s {
		height: auto;
	}

	.lifestyle_title_l {
		font-size: 16px;
	}

	.lifestyle_intro_l {
		font-size: 14px;
	}


	.lifestyle_container ,
	.lifestyle_container div{
		padding: 0;
		margin-left: 0;
		margin-right: 0;
	}

	.lifestyle_item {
		border: 0;
		margin-bottom: 0;
	}

	.lifestyle_thumb_s img {
		margin-bottom: 0;
	}

	.lifestyle_column .lifestyle_column_l {
		margin-top: 20px;
	}

	.lifestyle_list .lifestyle_img {
		margin: 0;
		position: relative;
	}

	.lifestyle_list .lifestyle_text {
		position: absolute;
		bottom: 0;
		padding-left: 15px;
	}

	.lifestyle_list .lifestyle_tag {
		position: absolute;
		top: 10px;
		margin-left: 15px;
		font-size: 12px;
		background-color: rgba(0,0,0,0.3);
		color: #fff;
		/* padding: 5px; */
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 2px;
		padding-bottom: 2px;
	}

	.lifestyle_text .lifestyle_tag {
		display: none;
	}

	.lifestyle_list .lifestyle_title_l a,
	.lifestyle_list .lifestyle_title_s,
	.lifestyle_list .lifestyle_title_s a {
		color: #fff;
		text-shadow: 0px 1px 2px #000;
		font-size: 16px;
	}

	.lifestyle_head_list .qrcode_item {
		display: none;
	}

	.lifestyle_intro_l, .lifestyle_intro_s {
		display: none;
	}
}