.lifestyle_title {
	margin-bottom: 20px;
}

.lifestyle_img img {
	max-width: 100%;
}

/* 768以上布局 */
@media screen and (min-width: 768px) {
	.lifestyle_title {
		font-size: 30px;
	}

	.lifestyle_info {
		margin-top: 10px;
		padding-left: 20px;
		padding-right: 20px;
		margin-bottom: 20px;
	}

	.lifestyle_head {
		margin-top: 50px;
		margin-bottom: 30px;
		padding-left: 70px;
		padding-right: 70px;
	}

	.lifestyle_tag {
		font-size: 20px;
		margin-bottom: 10px;
	}

	.lifestyle_img_m {
		display: none;
	}

	.lifestyle_info hr {
		display: none;
	}
}

/* 768以下布局 */
@media screen and (max-width: 768px) {
	.lifestyle_title {
		font-size: 20px;
		margin-top: 30px;
		padding-left: 0;
		padding-right: 0;
		text-align: left;
	}

	.lifestyle_tag {
		margin-top: 10px;
		margin-bottom: 20px;
		color: #777;
		font-size: 14px;
		text-align: center;
	}

	.lifestyle_intro {
		line-height: 25px;
		margin-bottom: 30px;
	}

	.lifestyle_img_m {
		margin: 0;
		position: relative;
		padding: 0;
	}

	.lifestyle_tag {
		position: absolute;
		top: 10px;
		margin-left: 15px;
		font-size: 12px;
		background-color: rgba(0,0,0,0.3);
		color: #fff;
		/* padding: 5px; */
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 2px;
		padding-bottom: 2px;
	}

	.lifestyle_info .lifestyle_tag,
	.lifestyle_img {
		display: none;
	}

	.text_content {
		padding: 0;
	}

	.lifestyle_pc {
		display: none;
	}
}