.news_title {
	margin-top: 50px;
	padding-left: 100px;
	padding-right: 100px;
}

.news_info {
	margin-top: 10px;
	margin-bottom: 20px;
	color: #777;
}

/* 768以上布局 */
@media screen and (min-width: 768px) {
	.news_title {
		margin-top: 50px;
		padding-left: 100px;
		padding-right: 100px;
	}
	.news_title span {
		font-size: 30px;
	}
	.news_title_img {
		padding: 0 100px;
	}
	.text_content {
		margin-top: 30px;
	}

	.news_hr {
		padding: 0 100px;
	}
}

/* 768以下布局 */
@media screen and (max-width: 768px) {
	.news_title {
		margin-top: 30px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.news_title span {
		font-size: 20px;
	}
	.news_title_img {
		padding: 0;
	}

	.text_content {
		padding: 0;
		margin-top: 30px;
	}
}