.result_data div {
	padding: 0;
}
.result_img img {
	width: 100px;
}

.product_name {
	font-size: 16px;
	margin-bottom: 10px;
	color: #000;
}

.product_intro {
	font-size: 14px;
	color: #595959;
	margin-bottom: 10px;
}

.product_link {
	font-size: 14px;
	color: #595959;
}

.result_title {
	display: inline-block;
	font-size: 16px;
	color: #000;
	margin-bottom: 10px;
}
.result_tag {
	display: inline-block;
	margin-left: 10px;
}
.result_text {
	color: #595959;
}

.search_container {
	margin-bottom: 50px;
}

.search_btn, .search_btn:hover, .search_btn:focus, .search_btn:active {
	color: #fff !important;
	background-color: #D7000F !important;
	width: 100px;
	/*height: 40px;*/
}

/* 768以上布局 */
@media screen and (min-width: 768px) {
	.service_nav {
		width: 20%;
	}

	.list_head {
		padding-left: 175px;
		padding-right: 175px;
	}

	.search_result_num {
		padding: 0 90px;
		color: #ddd;
	}

	.result_data {
		padding: 0 90px;
		margin-top: 30px;
	}

	.result_title a {
		font-size: 18px;
		color: #000
	}
}

/* 768以下布局 */
@media screen and (max-width: 768px) {
	.search_result_num {
		color: #ddd;
	}
	.result_title a {
		color: #000
	}
	.result_data {
		margin-top: 30px;
	}
}